{% extends "base.html" %} 
{% load humanize %} 
{% load customfilter %} 
{% block pageContent %}
{% load static %}
<style>
    .fixed-size {
        width: 100%; /* Fixed width for the left column */
        height: 500px; /* Full height */
        position: relative; /* Allow absolute positioning of status indicator */
    }
    .right-column {
        flex: 1; /* Allow the right column to take remaining space */
    }
    .row-item {
        height: 50%; /* Each row takes half of the right column */
        background-color: #e9ecef; /* Light gray for visibility */
        border: 1px solid #dee2e6; /* Border for separation */
        display: flex; /* Use flexbox for centering */
        align-items: center; /* Center vertically */
        justify-content: center; /* Center horizontally */
    }
    .status-indicator {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        position: absolute; /* Position above the profile picture */
        top: 10px;
        left: 10px;
    }
    .blinking {
        animation: blink-animation 0.5s steps(5, start) infinite;
    }
    @keyframes blink-animation {
        to {
            background-color: transparent;
        }
    }
    #preview {
        width: 50vh;
        height: 50vh;
        margin: 0px auto;
        position: relative;
        object-fit: cover;
        object-position: center center;
    }
    
    #preview-focus {
        padding: 2%;
        background: #00000085;
        -webkit-clip-path: polygon(0% 0%, 0% 100%, 25% 100%, 25% 25%, 75% 25%, 75% 75%, 25% 75%, 25% 100%, 100% 100%, 100% 0%);
        clip-path: polygon(0% 0%, 0% 100%, 25% 100%, 25% 25%, 75% 25%, 75% 75%, 25% 75%, 25% 100%, 100% 100%, 100% 0%);
        height: 50vh;
        width: 50vh;
        top: 0;
        left: calc(50% - (50vh / 2)); /* Center horizontally */
        margin-bottom: 20px;
    }
    #scanner-holder {
        display: flex; /* Use Flexbox */
        justify-content: center; /* Center horizontally */
        align-items: center; /* Center vertically if needed */
        height: 100%; /* Ensure it takes full height */
        margin-bottom: 20px;
    }
    .avatar {
        width: 100px; /* Set desired width */
        height: 100px; /* Set desired height */
        object-fit: cover; /* Ensures the image covers the area without distortion */
        border-radius: 4%; /* Optional: makes the image circular */
    }
</style>

<!--Section: Content-->
<h3 class="fw-bolder">{{page_title}}</h3>
<div id="liveAlertPlaceholder"></div>
<hr>
<section class="py-3">
    <div class="container">
        <div class="card rounded-0 shadow-sm blur">
            <div class="card-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-auto fixed-size d-flex flex-column">
                            <!-- QR Code Scanner Box -->
                            <div id="scanner-holder" class="position-relative">
                                <video id="preview"></video>
                                <div id="preview-focus" class="position-absolute"></div>
                            </div>
                            <!-- Status Indicator Box -->
                            <span id="statusIndicator" class="status-indicator"></span>
                            <div class="row flex-fill row-item">
                                <img id="avatarDisplay" src="" alt="Profile Picture" class="img-fluid avatar">
                            </div>
                            <!-- Additional Information Box -->
                            <div class="row flex-fill row-item" id="nameDisplay"> </div>
                            <div class="row flex-fill row-item" id="dateDisplay"> </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock pageContent %} 

{% block ScriptBlock %}
<script src="https://rawgit.com/schmich/instascan-builds/master/instascan.min.js"></script>
<script>
    // Hard-coded scanner state
    const scannerState = 'active'; // Change this to 'inactive' or 'error' as needed
    const statusIndicator = document.getElementById('statusIndicator');

    // Set initial status based on scanner state
    if (scannerState === 'active') {
        statusIndicator.style.backgroundColor = 'green'; // Active state
        statusIndicator.classList.add('blinking');
    } else if (scannerState === 'inactive') {
        statusIndicator.style.backgroundColor = 'red'; // Inactive state
    } else if (scannerState === 'error') {
        statusIndicator.style.backgroundColor = 'red'; // Error state
        statusIndicator.classList.add('blinking'); // Add blinking effect for error
    }

    // Initializes the Camera
    function beginScan() {
        let scanner = new Instascan.Scanner({ video: document.getElementById('preview'), mirror: false });

        const showAlert = (message, type) => {
            const alertPlaceholder = document.getElementById('liveAlertPlaceholder');

            // Clear previous alerts
            alertPlaceholder.innerHTML = '';

            const wrapper = document.createElement('div');
            wrapper.innerHTML = [
                `<div class="alert alert-${type} alert-dismissible" role="alert">`,
                ` <div>${message}</div>`,
                ' <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>',
                '</div>'
            ].join('');

            alertPlaceholder.append(wrapper);

            setTimeout(() => {
                alertPlaceholder.innerHTML = '';
            }, 5000); // 5000 milliseconds = 5 seconds
        };

        const formatDateTime = (date) => {
            const options = { 
                year: 'numeric', 
                month: '2-digit', 
                day: '2-digit', 
                hour: '2-digit', 
                minute: '2-digit', 
                second: '2-digit',
                hour12: true 
            };
            return new Intl.DateTimeFormat('en-US', options).format(date);
        };

        const updateUserInfo = (user) => {
            const fullName = [user.first_name, user.middle_name, user.last_name].filter(Boolean).join(' ');
            document.getElementById('nameDisplay').innerText = fullName;
            document.getElementById('dateDisplay').innerText = formatDateTime(new Date());
            // Update profile picture
            const avatarDisplay = document.getElementById('avatarDisplay');
            avatarDisplay.src = user.avatar; // Ensure this URL is correct
        };

        let isCooldown = false; // Flag to track cooldown state
        const cooldownDuration = 3000; // Cooldown duration in milliseconds (5 seconds)

        const processScan = (scannedData) => {
            if (isCooldown) {
                showAlert('Please wait before scanning again.', 'warning');
                return; // Exit if in cooldown
            }

            // Set cooldown flag
            isCooldown = true;

            const currentDateTime = new Date();
            const formattedDateTime = currentDateTime.toISOString();
            const csrftoken = document.cookie.split('; ').find(row => row.startsWith('csrftoken=')).split('=')[1];
            const hardCodedLocation = 'location_1'; // Change this value per PC

            fetch(`/api/employee/?employee_code=${scannedData}`)
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    return response.json();
                })
                .then(data => {
                    const specificUser = data.find(user => user.employee_code === scannedData);

                    if (!specificUser) {
                        showAlert(`QR Code not valid: No matching user found for ${scannedData}`, 'danger');
                        throw new Error(`QR Code not valid: No matching user found for employee code: ${scannedData}`);
                    }

                    // Update user info display
                    updateUserInfo(specificUser);

                    // Fetch log records based on employee_pk
                    return fetch(`/api/logrecord/?employee_pk=${specificUser.id}`)
                        .then(logResponse => {
                            if (!logResponse.ok) {
                                throw new Error('Failed to fetch log records');
                            }
                            return logResponse.json();
                        })
                        .then(logData => {
                            const today = new Date().toISOString().split('T')[0];
                            const todayRecords = logData.filter(record => {
                                const recordDate = new Date(record.time).toISOString().split('T')[0];
                                return recordDate === today && record.employee_pk === specificUser.id;
                            });

                            const timeInRecord = todayRecords.find(record => record.action === 'time_in');
                            const timeOutRecord = todayRecords.find(record => record.action === 'time_out');

                            if (timeInRecord && timeOutRecord) {
                                showAlert(`User ${specificUser.employee_code} has already signed in and out today.`, 'warning');
                                throw new Error(`User ${specificUser.employee_code} has already signed in and out today.`);
                            } else if (!timeInRecord && !timeOutRecord) {
                                const timeInRecordData = { 
                                    employee_pk: specificUser.id, 
                                    action: 'time_in', 
                                    time: formattedDateTime,
                                    location: hardCodedLocation
                                };
                                return fetch('/api/logrecord/', {
                                    method: 'POST',
                                    headers: { 
                                        'Content-Type': 'application/json',
                                        'X-CSRFToken': csrftoken
                                    },
                                    body: JSON.stringify(timeInRecordData)
                                }).then(() => showAlert(`Successfully recorded time-in for ${specificUser.first_name}.`, 'success'));
                            } else if (timeInRecord && !timeOutRecord) {
                                const timeOutRecordData = { 
                                    employee_pk: specificUser.id, 
                                    action: 'time_out', 
                                    time: formattedDateTime,
                                    location: hardCodedLocation
                                };
                                return fetch('/api/logrecord/', {
                                    method: 'POST',
                                    headers: { 
                                        'Content-Type': 'application/json',
                                        'X-CSRFToken': csrftoken
                                    },
                                    body: JSON.stringify(timeOutRecordData)
                                }).then(() => showAlert(`Successfully recorded time-out for ${specificUser.first_name}.`, 'success'));
                            }
                        });
                })
                .catch(error => {
                    console.error('There was a problem with the fetch operation:', error);
                })
                .finally(() => {
                    // Reset the cooldown after the specified duration
                    setTimeout(() => {
                        isCooldown = false; // Allow scanning again
                        document.getElementById('nameDisplay').innerText = '';
                        document.getElementById('dateDisplay').innerText = '';
                        document.getElementById('avatarDisplay').src = ''; // Reset avatar image
                        scanner.start(); // Restart scanning after processing
                    }, cooldownDuration);
                });
        };

        scanner.addListener('scan', function (content) {
            processScan(content);
        });

        Instascan.Camera.getCameras().then(function (cameras) {
            if (cameras.length > 0) {
                scanner.start(cameras[0]);
            } else {
                console.error('No cameras found.');
            }
        }).catch(function (e) {
            console.error(e);
        });
    }

    function startScanner() {
        console.log("Scanner started");
        beginScan();
    }

    function stopScanner() {
        console.log("Scanner stopped");
    }

    if (scannerState === 'active') {
        startScanner();
    } else if (scannerState === 'inactive') {
        stopScanner();
    } else if (scannerState === 'error') {
        console.error("Scanner error detected");
    }
</script>
{% endblock ScriptBlock %}