{% extends "base.html" %} 
{% load humanize %} 
{% load customfilter %} 

{% block pageContent %}

<h3 class="fw-bolder">{{ page_title }}</h3>
<hr>
<section class="py-3">
    <div class="container">
        <div class="card rounded-0 shadow-sm blur">
            <div class="card-body">
                <div class="container-fluid">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr class="bg-primary bg-gradient text-light">
                                    <th>#</th>
                                    <th>Date Added</th>
                                    <th>Company ID</th>
                                    <th>Name</th>
                                    <th>Dept./Pos.</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for employee in employees %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ employee.date_created|date:"M d, Y H:i" }}</td>
                                    <td>{{ employee.employee_code }}</td>
                                    <td>{{ employee }}</td>
                                    <td>{{ employee.department }} / {{ employee.position }}</td>
                                    <td class="text-center">
                                        <div class="dropdown">
                                            <button class="btn btn-light border bg-gradient btn-sm rounded-0 dropdown-toggle" type="button" id="employeeDD{{ employee.pk }}" data-bs-toggle="dropdown" aria-expanded="false">
                                                Action
                                            </button>
                                            <ul class="dropdown-menu" aria-labelledby="employeeDD{{ employee.pk }}">
                                                <li><a class="dropdown-item view_detail" href="#" data-url="{% url 'view-details' employee.employee_code %}">View Data</a></li>
                                                <li><a class="dropdown-item view_card" href="#" data-url="{% url 'view-card' employee.pk %}">View ID</a></li>
                                                <li><a class="dropdown-item view_record" href="#" data-url="{% url 'view-records' employee.pk %}">View Record</a></li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                                {% endfor %}
                                {% if not employees %}
                                <tr>
                                    <td colspan="6" class="text-center">No records.</td>
                                </tr>
                                {% endif %}
                            </tbody>
                        </table>

                        <!-- Pagination Info -->
                        {% if total_employees %}
                        <div class="text-center my-3">
                            Showing {{ employees.start_index }} to {{ employees.end_index }} of {{ total_employees }} users.
                        </div>

                        <!-- Pagination Controls -->
                        <div class="pagination justify-content-center">
                            {% if employees.has_previous %}
                                <a href="?page=1" class="btn btn-light">« First</a>
                                <a href="?page={{ employees.previous_page_number }}" class="btn btn-light">Previous</a>
                            {% endif %}
                            <span class="current">Page {{ employees.number }} of {{ employees.paginator.num_pages }}</span>
                            {% if employees.has_next %}
                                <a href="?page={{ employees.next_page_number }}" class="btn btn-light">Next</a>
                                <a href="?page={{ employees.paginator.num_pages }}" class="btn btn-light">Last »</a>
                            {% endif %}
                        </div>
                        {% endif %}
                    </div> <!-- End of table-responsive -->
                </div> <!-- End of container-fluid -->
            </div> <!-- End of card-body -->
        </div> <!-- End of card -->
    </div> <!-- End of container -->
</section>

{% endblock pageContent %} 

{% block ScriptBlock %}
<script>
// jQuery script for handling modal actions
$(function() {
    $('table').find('td, th').addClass('align-middle px-2 py-1');
    
    $('.view_card').click(function(){
        uni_modal("View Employee ID", $(this).attr('data-url'),'modal-lg');
    });
    
    $('.view_detail').click(function(){
        uni_modal("View Employee Details", $(this).attr('data-url'),'modal-md');
    });
    
    $('.view_record').click(function(){
        uni_modal("View Employee Records", $(this).attr('data-url'),'modal-xl');
    });
    
    $('#uni_modal').on('shown.bs.modal', function() {
        if ($('#id-card').length > 0) {
            var print_btn = $('<button id="print-card" class="btn btn-success btn-sm bg-gradient rounded-0 me-2" type="button"><i class="fa fa-print"></i> Print</button>');
            $(this).find('.modal-sub-footer').prepend(print_btn);
            
            print_btn.click(function() {
                var h = $("head").clone();
                var style = $($("noscript#qr-style").html()).clone();
                var card = $("#id-card").clone();
                var el = $('<div>');
                
                el.append(h);
                el.append(style);
                el.append(card);
                
                start_loader();
                var nw = window.open("", "_blank", "width=900, height=900");
                nw.document.write(el.html());
                nw.document.close();
                
                setTimeout(()=>{
                    nw.print();
                    setTimeout(()=>{
                        nw.close();
                        end_loader();
                    }, 300);
                }, 300);
            });

            $('#uni_modal').on('hide.bs.modal', function() {
                print_btn.remove();
            });
        }
    });
});
</script>
{% endblock ScriptBlock %}